
@{
    ViewData["Title"] = "Event";
    Layout = "~/Views/Shared/_LayoutEvent.cshtml";
}

<div class="container">
    <div class="row align-items-center">
        <div class="col-lg-6 order-lg-1">
            <img src="~/images/event1.png" style="visibility: visible; animation-name: fadeInRight;" class="adaptive-img wow fadeInRight" />
        </div>
        <div class="col-lg-6">
            <ul class="event-list"> 
                <li>Seamlessly launch, promote, and scale sophisticated event programs with HostelHub Management Software</li>
                <li>Now you can track everything about the event in one place, with automation, convenience, and improved efficiency.</li>
                <li>Our event registration system is built for modern event managers and provides all the right tools to help you create organized and memorable events for your attendees.</li>
            </ul>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="Event-Header">
        <div class="col-lg-12" style="text-align:center">
            <h3>Our Event Plans Tracking Event</h3>
        </div>
        </div>
    </div>
    <div class="row align-items-center" style="margin-top:2%;">
        <div class="col-lg-6">
            <div class="event-img">
                <img src="~/images/event2.png"/>
            </div>
        </div>
        <div class="col-lg-6">
            <ul class="event-list">
                <li>Easily track hundreds of event details in real-time - including schedules and event registrations - and keep everyone on the same page</li>
                <li>
                    Avoid human errors by monitoring all ticketing setup options, including nested tickets, add-ons, discount codes, timed pricing, questionnaires, donations, and legal terms.
                </li>
                <li>Create and assign seating charts and use the check-in app to manage guests from the door through the entire event.</li>
            </ul>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="Event-Header">
            <div class="col-lg-12" style="text-align:center">
                <h3>Event Data and Analytics Management Tools</h3>
            </div>
        </div>
    </div>
    <div class="row align-items-center" style="margin-top:2%;">
        <div class="col-lg-6">
            <ul class="event-list">
                <li>Automatically pull in event data like headcounts, menus, timelines, and contact/venue info for future resources and decision-making.</li>
                <li>Use data to create reports on key metrics and gain more significant knowledge of the impact on your bottom line.</li>
                <li>Prove and capture critical metrics like facility usage cost, scheduling conflicts, and resource tracking to back up future rental rates. Customize your dashboard to see what matters to you instantly.</li>
                <li>Reporting and dashboards that give you an up-to-the-minute snapshot of hundreds of data points and enable you to make better decisions faster.</li>
                <li>Track all contact data in one central place - including client assignments to events, leads, contracts, invoices, and more. Track your sales pipeline and capture leads with customizable web forms</li>
            </ul>
        </div>
        <div class="col-lg-6">
            <div class="event-img">
                <img src="~/images/event3.png" />
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="Event-Header">
            <div class="col-lg-12" style="text-align:center">
                <h3>EMS Conference Management Software</h3>
            </div>
        </div>
    </div>
    <div class="row align-items-center" style="margin-top:2%;">
        <div class="col-lg-6">
            <div class="event-img">
                <img src="~/images/event4.png" />
            </div>
        </div>
        <div class="col-lg-6">
            <ul class="event-list">
                <li>Best event management software for small businesses and is also perfect for managing large-scale events with enterprise-level conferences and meetings.</li>
                <li>
                    Enjoy features including event registration tools, event websites and content management, attendee engagement and networking, and project management software to simplify coordination and ensure your conferences run smoothly.
                </li>
                <li>Optimize your workplace by connecting employees with the resources they need to be more efficient. The EMS event planning platform goes further, offering a more holistic approach to enhancing workplace operations to ensure maximum coordination of affairs.</li>
            </ul>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="Event-Header">
            <div class="col-lg-12" style="text-align:center">
                <h3>Why Hostel Hub Has the Best event Management</h3>
            </div>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-lg-6">
            <ul class="event-list">
                <li>It is cost and time effective.</li>
                <li>Increases Engagement.</li>
                <li>It promotes professional and overall experience.</li>
                <li>It makes management more effortless.</li>
                <li>Supports targeted activities.</li>
            </ul>
        </div>
        <div class="col-lg-6">
            <div class="event-que-img">
                <img src="~/images/QuestionIcon.jpg" />
            </div>
        </div>
    </div>
    <div class="event-section">
    <div class="container">
    <div class="row justify-content-center">
        <div class="Event-Header">
            <div class="col-lg-12">
                <h2 class="event-section-title"><b>3 Points</b> to get Started </h2>
            </div>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-lg-6">
            <div class="event-cal-img">
                <img src="~/images/calendar.jpg"/>
            </div>
        </div>
                <div class="col-lg-6">
                    <div class="segment-step">
                        <dl class="segment-step_step">
                            <dt>Get in Touch</dt>
                            <dd>
                                To begin, simply schedule a brief intro call.Our team will be in touch at your desired date and time to answer all your questions and address any concerns you may have about our Property Management System.
                                Ready now? Schedule a Meeting to expedite the process.
                            </dd>
                        </dl>
                        <dl>
                            <dt>Import Your Data</dt>
                            <dd>Our support team will assist you in transferring your hotel’s data into the application. Data migration takes just a few clicks.</dd>
                        </dl>
                        <dl>
                            <dt>Launching your success</dt>
                            <dd>Good news! You just made a significant improvement to your hotel. Open the HostelHub Management Hub and start exploring all the tools that of Hostel Hub and Salesforce have to offer.</dd>
                        </dl>
                    </div>
                </div>
    </div>
        </div>
    </div>
</div>

