
@{
    ViewData["Title"] = "Hotel";
    Layout = "~/Views/Shared/_LayoutHeader.cshtml";
}

<div class="segment">
    <div class="section-intro">
        <div class="container">
            <h2>Modern Hotel Management</h2>
            <div class="content-holder">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                        <div class="card">
                            <img src="~/images/card1.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Provide good Wi-Fi</h5>
                                <p class="card-text">This one is pretty straightforward. Hotel guests want their room to be their home away from home, and in the modern age, accessible and reliable Wi-Fi is part of feeling at home. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="~/images/card2.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Comfortable and functional coworking spaces </h5>
                                <p class="card-text">Business travelers and digital nomads will appreciate this very much. A somewhat barren area of your hotel can be upgraded to provide a comfortable guest experience for those interested in working during their hotel stay.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="~/images/card3.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Take the hotel experience beyond the hotel stay</h5>
                                <p class="card-text">The hotel industry goes hand in hand with all kinds of industries like restaurants, cultural venues, and many others. Partnering with places in your area is a great way to give customers the most memorable experience.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="~/images/card4.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Capture More Guest Information at Check-In </h5>
                                <p class="card-text">The more guest information your hotel can collect, the better. From names and emails to diet restrictions or preferences, detailed information allows you to improve the guest experience from pre-stay to post.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="~/images/card5.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Prioritize Preventative Maintenance </h5>
                                <p class="card-text">
                                    Hotel preventative maintenance is essential to keeping hotel facilities and areas functional, and preventing repair costs. It also helps you prolong the life of hotel assets and anticipate when certain things will need to be replaced, which allows you to improve budgeting.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="~/images/card6.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Provide a Digital Tipping to Guests</h5>
                                <p class="card-text">Cash was already less common than ever before COVID-19 hit. And since the pandemic, the number of people carrying paper bills and metal coins has dropped significantly.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 d-flex align-items-center">
                        <div class="img-left-holder left-holder">
                            <img src="~/images/Modernize-img1.png"/>
                        </div>
                    </div>
                    
                    <div class="col-lg-6 d-flex align-items-center">
                        <div class="content-holder">
                            <div class="text-holder">
                                <h3 class="h3 title-border">Increase Revenues</h3>
                                <p>
                                    Hotel Revenue & Yield Management Software
                                    Optimize your hotel booking rates quickly and intelligently. Say goodbye to missing bookings because rates are higher or lower than the market rate -- the occupancy-based controls automatically adjust the rates based on occupancy levels at your hotel.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                    <div class="content-holder">
                        <div class="text-holder">
                            <h3>Improves Guest Experience</h3>
                            <p>When your guests arrive in their room, there should be a welcome book waiting for them. While historically this has contained all the what’s and how-to’s of the property and services, 
                                it should also include tips on what to see in the area, as well as recommendations on the best time to go and hidden gems that only the locals know about.</p>
                            <p>Building partnerships with local attractions and vendors is a win-win for both sides. You’ll bring more people to their business while offering your guest an inside track they will appreciate. If you promise to send many guests through the doors of the restaurant or attraction you’re partnering with, 
                                they may even be able to provide your guests with a special discount. </p>
                        </div>
                    </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="img-right-section">
                            <img src="~/images/Modernize-img2.png"/>
                        </div>
                    </div>
                </div>
                <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="card-wrapper">
                                <div class="card">
                                    <div class="img-wrapper">
                                        <img src="~/images/computer_add1.png" alt="...">
                                    </div>
                                    
                                    <div class="card-body">
                                        <h5 class="card-title">Booking Engine</h5>
                                        
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="img-wrapper">
                                        <img src="~/images/slider2.jpg"  alt="...">
                                    </div>
                                    
                                    <div class="card-body">
                                        <h5 class="card-title">Communication</h5>

                                    </div>
                                </div>
                                <div class="card">
                                    <div class="img-wrapper">
                                        <img src="~/images/slider3.png"  alt="...">
                                    </div>
                                    
                                    <div class="card-body">
                                        <h5 class="card-title">Check-in and out</h5>
                                        
                                    </div>
                                </div>
                            </div>
                            @* <img src="~/images/computer_add1.png" class="d-block w-20" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>First slide label</h5>
                                <p>Some representative placeholder content for the first slide.</p>
                            </div> *@
                        </div>
                        <div class="carousel-item">
                            <div class="card-wrapper">
                                <div class="card">
                                    <div class="img-wrapper">
                                        <img src="~/images/cashier_add2.png" alt="...">

                                    </div>
                                        <div class="card-body">
                                        <h5 class="card-title">Cashier</h5>
                                        
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="img-wrapper">
                                        <img src="~/images/card2.png" alt="...">

                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Channel Manager</h5>
                                       
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="img-wrapper">
                                        <img src="~/images/card3.png" alt="...">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Portal</h5>
                                        
                                    </div>
                                </div>
                            </div>
                            @* <img src="~/images/cashier_add2.png" class="d-block w-30" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Second slide label</h5>
                                <p>Some representative placeholder content for the second slide.</p>
                            </div> *@
                        </div>
                        <div class="carousel-item">
                            <div class="card-wrapper">
                                <div class="card" style="width:30%">
                                    <div class="img-wrapper">
                                        <img src="~/images/add-on3.jpg" alt="...">
                                    </div>
                                    
                                    <div class="card-body">
                                        <h5 class="card-title">Data Analytics</h5>
                                        
                                    </div>
                                </div>
                                <div class="card" style="width:30%">
                                    <div class="img-wrapper">
                                        <img src="~/images/card4.png" alt="...">
                                    </div>

                                    <div class="card-body">
                                        <h5 class="card-title">POS</h5>
                                        
                                    </div>
                                </div>
                            </div>
                            @* <img src="~/images/add-on3" class="d-block w-30" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Third slide label</h5>
                                <p>Some representative placeholder content for the third slide.</p>
                            </div> *@
                        </div>
                        
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="bg-white p-4 box">
                            <div class="accordion" id="accordionExample">
                                <h2 class="text-center">FAQ</h2>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            What is hotel management software?
                                        </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            Hotel management software is a critical tool for streamlining operations in the hospitality industry. It automates tasks like reservations, check-ins, and room assignments, reducing errors and increasing staff productivity.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingTwo">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            How does hotel management system work?
                                        </button>
                                    </h2>
                                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                             A hotel management system is software that automates most aspects of running a hotel. The most critical areas are reservations, guest services, and revenue management. In addition, these systems allow for better customer service by improving response time and streamlining operations.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingThree">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            What are the benefits of a property management system in the hotel industry?
                                        </button>
                                    </h2>
                                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            A hotel management system helps control the customer experience. They also provide tools that can automate any process in the hotel, including check-ins, check-outs, inventory management, and more. This helps to increase efficiency and reduce the cost of doing business. It also enables you to handle guest requests quickly and efficiently without any confusion.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingThree">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            How to set up a hotel property management system??
                                        </button>
                                    </h2>
                                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            You can set up your hotel management system in 5 easy stages:
                                            <ul>
                                                <li>Research and Compare: Look into different PMS options (cloud-based vs. on-premise). Compare features, user reviews, and pricing.</li>
                                                <li>Request demonstrations from vendors to see the software in action and ask questions.</li>
                                                <li>Plan how to migrate existing data (reservations, guest profiles, billing) to the new system.</li>
                                                <li> Configure the PMS according to your hotel’s specific needs. This includes setting up room types, rates, policies, user roles, and permissions.</li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

