
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="segment">
<div class="section-intro">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-position">
                <h1>
                   HostelHub Management
                   System
                </h1>

            </div>
            <div class="col-lg-4">
                <div class="img-holder">
                <img src="~/images/Home.jpg" />
                </div>
            </div>
        </div>
        @* <div class="decoration">
            @* <img src="~/images/footer-back.jpg"/> 
        </div> *@
    </div>
    <section class="text-section">
        <div class="container">
            <h2>Hostal Management</h2>
            <div class="text-holder">
                <p>Our Hostel Management provide a many features to save your timeset of features, ranging from 
                   multi-property management with a centralized guest profile to centralized accounting to help effectively automates your daily operations.</p>
                <p>Intelligent room allocation based on preferences, availability, and resident profiles. Helps optimize space utilization and reduces manual errors.</p>
                <p>You can get More by clicking on Schedule a Meeting </p>
            </div>
            <div class="btn-holder">
                    <button type="button" class="btn btn-lg btn-primary" onclick="window.location.href='/schedule_meeting'">Schedule Meeting</button>
            </div>
        </div>
    </section>
    <section  class="features">
        <div class="container">
            <h2 class="title-center">Features of Hotel Management</h2>
            <div class="row">
            <div class="col-lg-6">
                <div class="img-section">
                <img  src="~/images/features.jpg"/>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="content-holder">
                    <div class="text-holder">
                       <h3 class="h3 title-border">Online hostel Management </h3>
                       <ul class="list-style">
                           <li>Now you can Book and Plan of hostal by sitting on home</li>
                           <li>It saves time and money and you get discount also.</li>
                           <li>Residents can easily access services and information through an online portal, enhancing their experience and satisfaction.</li>
                           <li>Features like online payment, maintenance requests, and feedback submission provide residents with greater autonomy and convenience.</li>
                       </ul>
                    </div>
                </div>
            </div>
            </div>
            <div class="row">
                <div class="col-lg-6 d-flex align-items-center">
                    <div class="content-holder">
                    <div class="text-holder">
                    <h3 class="h3 title-border">Efficiency and Productivity</h3>
                    <p>Automates repetitive and time-consuming tasks such as room allocation, 
                    fee collection, and maintenance requests, freeing up staff to focus on more strategic activities.</p>
                    <p>Simplifies and accelerates processes like check-in/check-out, registration, and 
                    reporting, improving overall operational efficiency.</p>
                    </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="img-right-section">
                        <img src="~/images/channel-hostel.png"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="img-left-holder left-holder">
                        <img src="~/images/img3.jpg"/>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="content-holder">
                        <div class="text-holder">
                                <h3 class="h3 title-border">Customization and Scalability</h3>
                                <p>Customizes features to meet the specific needs of the hostel, whether it’s a university dormitory, 
                                    private hostel, or corporate accommodation.</p>
                                <p>Adapts to the changing needs of the hostel, accommodating growth in the number of residents or the addition of new facilities.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-header">
                <h2 class="h2">Features that improves Guest Experience</h2>
            </div>
            <div class="row">
                <div class="col-lg-6 d-flex align-items-center display">
                    <div class="content-holder">
                        <div class="text-holder">
                                <h3 class="h3 title-border">Enhanced Collaboration</h3>
                                <p> Provides a single platform for all stakeholders—administrators, staff, and residents—facilitating better collaboration and communication.</p>
                                <p>Ensures that different users have access to the information and tools they need, based on their roles and responsibilities.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="img-right-section1">
                        <div class="img-holder">
                        <img src="~/images/img4.jpg"/>
                            </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="img-left-holder1">
                        <img src="~/images/img5.jpg"/>
                    </div>
                </div>
                    <div class="col-lg-6 d-flex align-items-center">
                    <div class="content-holder">
                        <div class="text-holder">
                                <h3 class="h3 title-border" style="margin-top:79px"> Improved Communication</h3>
                                <p>Enables hostel management to post important updates and announcements in a centralized manner, ensuring that all residents are informed</p>
                                <p>Sends automated notifications and reminders for payments, maintenance updates, and other critical information, reducing the need for manual follow-ups.</p>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <br/>
           <div class="issue-section">
               <div class="container">
                        <div class="row">
                            <h2 class="h2" style="text-align: center;
    letter-spacing: 4.5px; ">
                                Why HostelHub Management System is different from others
                            </h2>
                            <div class="col-lg-12">
                                <p style="letter-spacing: 1.5px; line-height: 30px;">
                                    Our system is designed to be user-friendly and efficient, saving you time and money. We offer easy-to-use features that simplify the property management process for you. We'll help you streamline your operations and make your life easier.
                                </p>
                             <br/>
                             
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <h5 style="letter-spacing: 2.5px;">Here's What are you getting</h5>
                            <ul class="issue-section-list">
                                <li>All-in-one solution simplifies your workflows, reduces costs, saves time, and improves efficiency</li>
                                <li>Secure Property Management System, ensuring your data is safe and protected</li>
                                <li>Easy-to-learn and easy-to-use PMS interface reduces time, effort, and stress</li>
                                <li>Customizable, flexible, and tailored to your needs</li>
                                <li>Cloud-based system allows easy access and data management from anywhere</li>
                            </ul>
                            </div>
                            
                        </div>
                        <div class="row-cols-lg-6 text-center">
                            <button type="button" class="btn btn-primary" onclick="window.location.href='/schedule_meeting'">Schedule Meeting</button>
                        </div>
               </div>

           </div>
        </div>
    </section>
</div>
</div>
