html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.container-fluid img {
    width: 20%;
}
.container-fluid i {
    font-size: 55px;
    font-weight: bold;
}
.navbar-nav {
    gap: 10px;
    font-size: 18px;
}
/*@media (min-width: 1200px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
    }
}*/
/*@media (min-width: 992px) {
    .navbar-toggler {
        display: block;
    }

    .navbar-collapse {
        display: none !important;
    }

        .navbar-collapse.show {
            display: block !important;
        }
}*/
.nav-link{
    color:black;
    font-weight:bold;
}
.text-position{
    margin-top:23%;
    text-align:center;
}
.section-intro .container .row .img-holder img {
    width: 160%;
    height: auto;
    background-size: cover;
    position: relative;
    z-index: -1;
}
@media(max-width:991px){
    .section-intro .container .row .img-holder img {
        width: 103%;
        height: auto;
    }
}
.decoration {
    /*    width:100%;
    background:url('../images/footer-back.jpg');
*/
    background: url(../images/footer-back.png);
    width: 109%;
    height: 200px;
    background-size: cover;
    position: relative;
    z-index: -1;
    margin-top: -83px;
    margin-left: -23px;
}
.text-section {
    text-align: center;
    margin-top: 40px;
    /*background: linear-gradient(11deg, blue, transparent);*/
    font-size: 18px;
    background-color: aliceblue;
    background: rgba(5, 6, 5,);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    border-radius: 50px;
}
.title-center {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 15px;
}
.features .container .img-section img {
    width: 70%;
    height: auto;
    position: relative;
    left: 106px;
}
.features .container .content-holder .text-holder .h3 {
    /*text-align: center;*/
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 7.7px;
    text-align:center;
}
.features .container .content-holder .text-holder li {
    text-align: center;
    font-size: 23px;
    font-family: ui-monospace;

}
.segment .tile-border{
    position:relative;
}
.features .container .content-holder .text-holder p {
    font-size: 23px;
    font-family: ui-monospace;
    letter-spacing: 0.5px;
    line-height: 1.35;
    margin-left: 24px;
}
.features .container .img-right-section img {
    width: 70%;
    position:relative;
    left: 100px;
    top: -43px;
}
.features .container .img-left-holder img {
    width: 70%;
    position:relative;
    left:106px;
}
.features .container .section-header .h2 {
    text-align: center;
    letter-spacing: 12.5px;
}
.features .container .img-right-section1 .img-holder img{
    width: 70%;
    position: relative;
    z-index:-1;
    left: 100px;
    top: 60px;
}
.features .container .img-left-holder1 img {
    width: 70%;
    position: relative;
    z-index: -1;
    left: 100px;
    top: 60px;
}
/*.issue-section .row h3{
    text-align:center;
}*/
.issue-section .row .issue-section-list {
    list-style-type: disclosure-closed;
    letter-spacing: 1.5px;
    font-size: 18px;
}

.footer-class {
    background-color: #343a40;
    margin-bottom: -60px;
    border-radius: 5px;
    padding:3%;
}
.footer-class .information a {
    color: white; /* Change this to your desired color */
    text-decoration: none; /* Remove underline */
    transition: color 0.3s ease; /* Smooth color transition */
    font-size: 20px;
    letter-spacing: 2.5px;
    line-height: 0.5px;
}
.footer-class .information a:hover {
     color: Highlight; /* Change this to your desired color */   
}
.footer-class ul {
     list-style-type: none;
     text-align: center;
     line-height: 206%;
    }
.footer-class .footer-header .footer-h5{
     text-align:center;
     color:antiquewhite;
}
hr{
    color:white;
    background-color:white;
    font-weight:bold;
    height:2px;
}

.btn-primary {
    border-radius: 30px;
    font-size: 21px;
    background-color: sandybrown;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}
/*Hotel.cshtml*/
.card {
    box-shadow: 0 0 76px rgba(0, 0, 0, .15);
    border-radius: 20px;
}
.col .card .card-img-top {
    width: 50%;
    margin-left: 25%;
}
.row .img-left-holder img {
    width: 80%;
    margin: 14%;
}
.row .img-right-section img {
    width: 60%;
    margin-left: 30%;
}

/*@media screen and (min-width:568px) 
{*/
    .card-wrapper {
        display: flex;
    }
    /*.carousel-item{
        margin: 0.5em;
        width:50%;
    }*/

    .card {
        margin: 0.5em;
        /*width: calc(100%/3);*/
        width:100%;
    }

    .img-wrapper {
        height: 22vw;
        margin: 0 auto;
        /*display:flex;
    align-items:center;
    justify-content:center;*/
    }
/*}*/
@media screen and (max-width:567px){
    .card:not(:first-child){
        display:none;
    }
}
.img-wrapper img{
    max-width:100%;
    max-height:100%;
}
.card h5{
    text-align:center;
}
/*CHatBot*/
.chat_icon{
    position:fixed;
    right:30px;
    bottom:0;
    font-size:30px;
    color:black;
    cursor:pointer;
    z-index:1000;
}
.chat-box {
    position: fixed;
    right: 20px;
    bottom: 100px;
    width: 400px;
    height: 80vh;
    background: #dedede;
    z-index: 1000;
    transition: all 0.3s ease-out;
    transform: scaleY(0);
}
.chat-box.active{
    transform:scaleY(1);
}
.hidden{
    display:none !important;
}
.cov-form-wrapper textarea{
    height:30px;
    overflow:hidden;
    resize:none;
}
#messages{
    padding:20px;
}
form.convFormDynamic textarea.userInputDynamic{
    /*margin-top:-6px;*/
}

/*Meeting.cshtml*/
.meeting-form {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-top: 1%;
}
.schedule-meeting-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 50%;
    top: 15%;
    transform: translateX(-50%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    padding: 13px;
    width: 50%;
    background-color: #ffffff;
    border-radius: 5px;
    margin-bottom: 20px;
}

/*Event.cshtml*/
.text-position-event{
    text-align:center;
    margin-top:15%;
}
.container .row .event-list {
    list-style-type: disclosure-closed;
    letter-spacing: 2.5px;
    line-height: 28.5px;
}
.container .row .Event-Header{
    letter-spacing:2.5px;
    margin-top:2%;
}
.container .row .event-que-img img{
    width:80%;
}
.event-section .container .event-section-title {
    text-align: center;
    padding-bottom: 2%;
    letter-spacing: revert;
}
.event-section .container .event-cal-img img {
    width: 80%;
}

.event-section .container .segment-step dt{
    font-size:25px;
}
/*About-us*/
.about-us .about-image{
    margin-top: 8%;
}

.about-us .about-text{
    margin-top:10%;
}

.about-us .about-image img {
    width: 100%;
}
/*club*/
.club-text-position{
    margin-top:15%;
}
.club-img-holder {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}
.segment .club-img-holder img{
    width:105%;
}
.segment .section-card img{
    width:88%;
}
.segment .section .section-card {
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 16px;
    text-align: initial;
}
/* Add this CSS in your stylesheet */
@keyframes flowAnimation {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.section-card.animate {
    animation: flowAnimation 0.5s ease-out forwards;
}
.club_article figure img{
    width:82%;
}
.club_article h3{
    letter-spacing: .75px;
    margin-left: 5%;
}
.club_article ul li {
    list-style-type: none;
    padding-bottom: 20px;
    position: relative;
    padding-left: 35px;
    background: url(../images/club_article_icon.png) no-repeat left top;
    color: #2d2d2d;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 2px;
}
.club_articles .section-card {
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 16px;
    text-align: initial;
    margin:2%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    border-radius: 103px;
}
.letter-spacing {
    letter-spacing: 6px;
}
.club_articles .section-card img{
    width:50%;
}

/*Pricing Page*/
.pricing-plans-section {
    background: #eef1f7;
    margin-bottom: -14px;
}
.pricing-title-section {
    text-align: center;
    line-height: normal;
    padding-bottom: 40px;
    letter-spacing: 10px;
    font-size: 42px;
}
.pricing_filter{
    margin-bottom:20px;
    font-size:18px;
}
.subscription_length {
    margin-bottom: 20px;
    display: flex;
}
.row.gutters-small > [class*=col] {
    padding-right: 10px;
    padding-left: 10px;
}

.subscription_list {
    position: relative;
    height: 60px;
    width: 100%;
    max-width: 280px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    cursor:pointer;
}
.subscription_list {
    position: relative;
    height: 60px;
    width: 100%;
    max-width: 280px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    color: #2e2e2e;
    background: aliceblue;
}
.subscription_list.active {
     background: #58a4fd;
     color: #fff;
}
.subscription_list:first-child{
    border-radius:12px 0 0 12px;
}
.subscription_list:last-child{
    border-radius:0 12px 12px 0;
}
.currency-selector {
    position: relative;
    margin-bottom: 20px;
}
.currency_selector_select {
    appearance: none;
    margin: 0;
    padding: 10px 40px 10px 20px;
    width: 100%;
    height: 60px;
    cursor: pointer;
    border: none;
    outline: 0;
    border-radius: 12px;
    background: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    font-family: Ubuntu, MuseoSansCyrl, Arial, sans-serif;
}
.pricing_size {
    margin-bottom: 20px;
    height: calc(100% - 20px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    list-style-type:none;
}
.pricing_size_item {
    margin-bottom: 8px;
    padding: 8px 40px 8px 20px;
    position: relative;
    font-size: 16px;
    font-weight: 400;
    border-radius: 12px;
    border: 2px solid aliceblue;
    cursor: pointer;
    background-color: aliceblue;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.pricing_size_item:hover,
.pricing_size_item.active {
    border-color: #007bff; /* Change this to your desired border color */
    transform: translateY(-3px); /* Floating effect */
    background-color: #e9ecef;
}

.pricing_size_name {
    padding-bottom: 5px;
    font-size: 24px;
    font-weight: 500;
}
.pricing_size_amount {
    font-size: 16px;
}
.pricing_feature {
    margin-bottom: 20px;
    height: calc(100% - 20px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.pricing_feature_list {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 15px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #fff;
    font-size: 16px;
}
.pricing_feature_list:nth-child(odd) {
    background: #f2f8ff;
}
.pricing_feature_list:first-child {
    border-radius: 12px 12px 0 0;
}
.pricing_plan {
    margin-bottom: 20px;
    height: calc(100% - 20px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 20px;
    border-radius: 12px;
    background: #fff;
    font-size: 14px;
    text-align: center;
}
.pricing_header {
    padding-bottom: 10px;
    border-bottom: 2px solid #ededed;
}
.pricing_plan_name {
    padding-bottom: 10px;
    font-size: 24px;
    font-weight: 600;
}
.pricing_plan_size {
    font-size: 18px;
}
.pricing_body_price {
    /*padding-bottom: 148px;*/
    font-size: 46px;
    font-weight: 700;
}
.pricing_body_sign {
    padding: 5px 0;
    font-size: 36px;
    font-weight: 500;
}
.pricing_body_text {
    padding-bottom: 10px;
    font-size: 25px;
    font-weight: 400;
}
.pricing_body {
    padding: 15px 0;
}
.pricing_footer{

}
.pricing_footer_btn {
    min-width: auto;
    width: 100%;
    margin-bottom: 20px;
    padding: 20px 30px;
    /*min-width: 320px;*/
    display: inline-block;
    font-family: Ubuntu, MuseoSansCyrl, Arial, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: .18px;
    text-align: center;
    text-decoration: none;
    -webkit-appearance: none;
    color: #fff;
    background-color: darkcyan;
    border-radius: 3px;
    /*-webkit-transition: all .5s;*/
    -o-transition: all .5s;
    transition: all .5s;
    cursor:pointer;
}
.pricing_footer_text{
    text-align:center;
}

/*Login Page*/
